.database__container {
  width: 100%;
  min-height: 100vh;
}

.database__heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

  .heading {
    margin-left: 30px;
    margin-top: 47px;

    h1 {
      font-family: myFont;
      font-weight: 400;
      font-size: 18px;
      line-height: 100%;
      color: #000000;
    }
  }

  .pending__sorting {
    display: flex;
    position: relative;

    .pending,
    .sorting {
      display: flex;

      align-items: center;
      margin-top: 35px;
      margin-right: 30px;
      background: #ffffff;
      border: 1px solid #ebebeb;
      border-radius: 20px;
      padding: 0.5rem;

      span {
        font-family: myFont;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #9ea0b4;
        margin-right: 8px;
      }

      h2 {
        font-family: myFont;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        text-align: right;
        color: #404043;
        margin-right: 10px;
      }

      i {
        cursor: pointer;
        margin-bottom: 5px;
        font-size: 14px;
        color: #404043;
      }
    }
  }
}
.pending__sorting .pending-container {
  height: 200px;
  width: 190px;
  background: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 20px;
  position: absolute;
  z-index: 999;
  top: 60px;
  right: 300px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);

  .title {
    margin: 15px;
    font-family: myFont;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #000000;
  }

  .pending-ul {
    margin-left: 35px;
    margin-top: 25px;
    li {
      margin-top: 10px;
      list-style: disc;
      font-family: myFont;
      font-weight: 500;
      font-size: 18px;
      line-height: 18px;

      a {
        color: #000000;
      }
    }
  }
}

.pending__sorting .sorting-container {
  height: 150px;
  width: 160px;
  background: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 20px;
  position: absolute;
  z-index: 999;
  top: 80px;
  right: 45px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);

  .title {
    margin: 15px;
    font-family: myFont;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #000000;
  }

  .sorting-ul {
    margin-left: 35px;
    margin-top: 10px;
    li {
      margin-top: 10px;
      list-style: disc;
      font-family: myFont;
      font-weight: 500;
      font-size: 18px;
      line-height: 18px;

      a {
        color: #000000;
      }
    }
  }
}

.database__content {
  display: flex;
  justify-content: space-between;

  .contentA {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}

.database__content .contentA {
  min-height: 100vh;
  width: 72%;
}

.database__content .contentB {
  width: 26%;

  .filters {
    hr {
      width: 90%;
      color: #9ea0b4;
      opacity: 0.6;
    }
    .filter__title {
      h1 {
        font-family: myFont;
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        letter-spacing: 0.1px;
        color: #404043;
      }
    }

    .filter__input {
      background: #ffffff;
      border: 1px solid #ececf0;
      border-radius: 4px;
      width: 300px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 15px;
      margin-top: 15px;
      input {
        height: 43px;
        border: none;
      }

      input::placeholder {
        color: #9ea0b4;
        font-size: 15px;
      }

      i {
        font-size: 18px;
        color: #9ea0b4;
        opacity: 0.7;
      }
    }

    .filter__social {
      display: flex;
      justify-content: center;
      margin-right: 60px;
      gap: 30px;
      margin-top: 25px;
      border-bottom: 2px solid #ececf0;

      h1 {
        font-family: myFont;
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        text-align: center;
        letter-spacing: 0.1px;
        color: #404043;
        margin-bottom: 5px;
      }
    }
  }

  .filter__talent-rate {
    margin-top: 15px;
    h1 {
      font-family: myFont;
      font-weight: 500;
      font-size: 17px;
      line-height: 18px;
      letter-spacing: 0.1px;
      color: #404043;
    }

    input {
      margin: 20px 50px;
      width: 200px;
      height: 2px;
    }

    .talent__rate {
      display: flex;
      padding: 5px;
      margin-right: 40px;
      justify-content: space-around;
      margin-bottom: 11px;

      .talent_score {
        display: flex;
        h1 {
          font-family: myFont;
          font-style: normal;
          font-weight: 400;
          font-size: 13px;
          line-height: 16px;
          color: #404043;
        }
        i {
          font-size: 12px;
          color: #404043;
        }
      }

      .talent_score1 {
        display: flex;
        h1 {
          font-family: myFont;
          font-style: normal;
          font-weight: 400;
          font-size: 13px;
          line-height: 16px;
          color: #404043;
        }
        i {
          font-size: 12px;
          color: #404043;
        }
      }

      .talent_score1 {
        display: flex;
      }
    }
  }

  .nationality {
    padding: 25px 0;

    hr {
      width: 90%;
      color: #9ea0b4;
      opacity: 0.6;
    }

    .nationality__title {
      h1 {
        font-family: myFont;
        font-weight: 500;
        font-size: 17px;
        line-height: 18px;
        letter-spacing: 0.1px;
        color: #404043;
      }
    }

    .nationality__input {
      background: #ffffff;
      border: 1px solid #ececf0;
      border-radius: 4px;
      width: 300px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 15px;
      margin-top: 15px;

      input {
        height: 43px;
        border: none;
      }

      input::placeholder {
        color: #9ea0b4;
        font-size: 15px;
      }

      i {
        font-size: 18px;
        color: #9ea0b4;
        opacity: 0.7;
      }
    }

    .nationality__checks {
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;

      .us,
      .italy,
      .russia {
        span {
          font-family: myFont;
          font-weight: 400;
          font-size: 15px;
          line-height: 16px;
          color: #404043;
          margin-left: 10px;
        }
        margin-top: 12px;
      }
    }
  }

  .age {
    padding: 10px 0;

    hr {
      width: 90%;
      color: #9ea0b4;
      opacity: 0.6;
    }

    h1 {
      margin-bottom: 15px;
      font-family: myFont;
      font-weight: 500;
      font-size: 17px;
      line-height: 18px;
      letter-spacing: 0.1px;
      color: #404043;
    }

    input {
      margin: 20px 50px;
      width: 200px;
      height: 2px;
    }

    .number {
      display: flex;
      justify-content: space-evenly;

      .N25 {
        margin-right: 130px;
      }

      .N90 {
        margin-right: 50px;
      }
    }
  }

  .gender {
    padding: 15px 0;

    h1 {
      font-family: myFont;
      font-weight: 500;
      font-size: 17px;
      line-height: 18px;
      letter-spacing: 0.1px;
      color: #404043;
      margin-bottom: 15px;
    }

    .male,
    .female {
      margin-top: 12px;
      span {
        margin-left: 15px;
        font-family: myFont;
        font-weight: 400;
        font-size: 15px;
        line-height: 16px;
        color: #404043;
      }
    }
  }
}

// Media Queries

@media screen and (max-width: 430px) {
  .database__heading .heading h1 {
    font-size: 14px;
  }
  .database__heading .pending__sorting {
    .pending {
      padding: 0.35rem;
      span,
      h2 {
        font-size: 12px;
      }

      i {
        font-size: 10px;
      }
    }
    .sorting {
      margin-left: -25px;
      margin-right: 12px;
      padding: 0.35rem;

      span,
      h2 {
        font-size: 12px;
      }
      i {
        font-size: 10px;
      }
    }

    .pending-container {
      top: 70px;
      right: 140px;
      height: 130px;
      width: 130px;

      .title {
        font-size: 12px;
        margin-bottom: -20px;
      }

      .pending-ul li {
        font-size: 14px;
        margin-top: 4px;
      }
    }

    .sorting-container {
      top: 70px;
      right: 10px;
      height: 120px;
      width: 120px;

      .title {
        font-size: 12px;
        margin-bottom: -4px;
      }

      .sorting-ul li {
        font-size: 14px;
        margin-top: 4px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .contentB {
    display: none;
  }

  .database__content .contentA {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
  }
}
